<template>
  <div class="categoryScreen">
    <h2>{{msg}}</h2>
    <Category
      class="category"
      v-for="(category, index) in categories"
      :key="index"
      @categoryClickFirst="categoryClick"
      :categoryName="category"
    />
  </div>
</template>
<script>
import Category from "../components/Category";
export default {
  name: "CategoryScreen",
  data() {
    return {
      categories: [
        "Vegan",
        "Seafood",
        "Breakfast",
        "Side",
        "Vegetarian",
        "Dessert",
        "Pasta",
        "Beef"
      ]
    };
  },
  components: {
    Category
  },
  methods: {
    categoryClick(categoryName) {
      console.log("unai");
      this.$emit("categoryClick", categoryName);
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.categoryScreen {
  background-color: rgb(255, 217, 0);
}
</style>
