<template>
    <div class="category">
        <button @click="choseCategory">{{categoryName}}</button>
    </div>
</template>
<script>
export default {
    name: 'Category',
    props: {
        categoryName: { type: String },
    },
    methods: {
        choseCategory() {
            this.$emit('categoryClickFirst', this.categoryName)
        },
    },
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
