<template>
  <div class="countryScreen">
    <button>name of country</button>
    <button>search by country</button>
  </div>
</template>

<script>
export default {
  name: "CountryScreen",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.countryScreen {
  background-color: rgb(0, 255, 234);
}
</style>
