<template>
 <header class="header" >
   <h1 @click="showStartScreen">belly's paradise</h1>
   <input v-model="recipeNameByInput" type="text" placeholder="Search recipe by name"  >
   <button @click="saveRecipeNameByInput">Q</button>
   <button @click="showRandomRecipe">random recipe</button>
 </header>
</template>

<script>
export default {
  name: "Header",
  data(){
   return{
     recipeNameByInput:''
   }
  },
  methods: {
    showStartScreen(){
      this.$emit('showStartScreen', "value");
    },
    saveRecipeNameByInput(){
      this.$emit('saveRecipeNameByInput',{
       recipeNameByInput: this.recipeNameByInput
      })
    },
    showRandomRecipe(){
      this.$emit('showRandomRecipe');
      console.log('hay que llamar a la api para RandomRecipe')
    }
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header {
  background-color: rgb(255, 0, 0);
}
h1 {
  cursor: pointer;
}
</style>
