<template>
  <div class="ingredientScreen">
    <button>name of popular ingredient</button>
    <input type="text" placeholder="name of ingredient" /><button>Q</button>
  </div>
</template>

<script>
export default {
  name: "IngredientScreen",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ingredientScreen {
  background-color: rgb(62, 207, 74);
}
</style>
