<template>
  <div class="result-screen">
    <div v-for="(newitem, index) in recipeData" :key="index">
      <SupportResult :recipeData="newitem" />
    </div>
  </div>
</template>
<script>
import SupportResult from "@/components/SupportResult.vue";
export default {
  name: "ResultScreen",
  components: { SupportResult },
  props: {
    recipeData: {
      propType: Array,
      required: true
    }
  }
};
</script>
<style scoped>
</style>