<template>
  <div class="startScreen">
    <button @click="changeStateScreenToCategorySearch">
      trendly categories
    </button>
    <button @click="changeStateScreenToIngredientsSearch">
      search by ingredients
    </button>
    <button @click="changeStateScreenToCountrySearch">
      world food recipes
    </button>
  </div>
</template>

<script>
export default {
  name: "StartScreen",
  props: {
    msg: String
  },
  methods: {
    changeStateScreenToCategorySearch: function() {
      this.$emit("changeStateScreenToCategorySearch", "value");
    },
    changeStateScreenToIngredientsSearch: function() {
      this.$emit("changeStateScreenToIngredientsSearch", "value");
    },
    changeStateScreenToCountrySearch: function() {
      this.$emit("changeStateScreenToCountrySearch", "value");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.startScreen {
  background-color: rgb(255, 102, 0);
}
</style>
