<template>
  <div class="data-item">
    <h2>{{recipeData.strMeal}}</h2>
    <div class="imgdes">
      <p>{{recipeData.strInstructions}}</p>
      <img :src="recipeData.strMealThumb" class />
    </div>
    <a :href="recipeData.url" target="blank">Leer más</a>
  </div>
</template>
<script>
export default {
  name: "SupportResult",
  props: {
    recipeData: {
      propType: Object,
      required: true
    }
  }
};
</script>
<style scoped>
.data-item {
  border: 2px solid black;
  color: black;
  padding: 1rem;
  margin: 10px;
  width: 50%;
  text-align: center;
}
h1 {
  padding: 0;
}
img {
  width: 30%;
}
</style>