<template>
<<<<<<< HEAD
    <div id="app">
        <Header
            @showStartScreen="showStartScreen"
            @saveRecipeNameByInput="saveRecipeNameByInputFromHeader"
            @showRandomRecipe="showRandomRecipe"
        />
        <p v-if="errorInput">error</p>
        <StartScreenss
            v-if="screen === 'startScreen'"
            @changeStateScreenToCategorySearch="changeStateScreenToCategorySearch"
            @changeStateScreenToIngredientsSearch="changeStateScreenToIngredientsSearch"
            @changeStateScreenToCountrySearch="changeStateScreenToCountrySearch"
        />
        <CategoryScreen v-if="screen === 'categoryScreen'" />
        <IngredientsScreen v-if="screen === 'ingredientsScreen'" />
        <CountryScreen v-if="screen === 'countryScreen'" />
        <RecipeListScreen />
        <Footer />
    </div>
</template>

<script>
import Header from './components/Header.vue'
import StartScreen from './components/StartScreen.vue'
import CategoryScreen from './components/CategoryScreen.vue'
import IngredientsScreen from './components/IngredientsScreen.vue'
import CountryScreen from './components/CountryScreen.vue'
import RecipeListScreen from './components/RecipeListScreen.vue'
import Footer from './components/Footer.vue'

export default {
    name: 'app',
    methods: {
        showStartScreen() {
            this.screen = 'startScreen'
        },
        async saveRecipeNameByInputFromHeader(nameRecipe) {
            this.nameRecipe = nameRecipe.recipeNameByInput
            if (this.nameRecipe != '') {
                ;(this.errorInput = false),
                    (this.url =
                        this.sourceStart +
                        this.sourceSearchByName +
                        this.nameRecipe),
                    await this.searchRecipe()
            } else {
                this.errorInput = true
            }
        },
        async searchRecipe() {
            console.log(this.url)
            this.articles = await fetch(this.url)
            this.recipeData = await this.articles.json()
            console.log(this.recipeData)
        },
        async showRandomRecipe() {
            ;(this.url = this.sourceStart + this.sourceSearchRandom),
                console.log(this.url),
                await this.searchRecipe()
        },
        changeStateScreenToCategorySearch() {
            ;(this.screen = 'categoryScreen'),
                (this.typeSearch = 'searchByCategory')
        },
        changeStateScreenToIngredientsSearch() {
            ;(this.screen = 'ingredientsScreen'),
                (this.typeSearch = 'searchByIngredient')
        },
        changeStateScreenToCountrySearch() {
            ;(this.screen = 'countryScreen'),
                (this.typeSearch = 'searchByCountry')
        },
    },
    data() {
        return {
            screen: 'startScreen',
            sourceStart: 'https://www.themealdb.com/api/json/v1/1/',
            sourceSearchByName: 'search.php?s=',
            sourceSearchByCategory: 'filter.php?c=',
            sourceSearchByIngredient: 'filter.php?i=',
            sourceSearchByCountry: 'filter.php?a=',
            sourceSearchRandom: 'random.php',
            typeSearch: null,
            url: null,
            country: null,
            category: null,
            nameRecipe: null,
            nameIngredient: null,
            recipeData: null,
            articles: null,
            errorInput: false,
        }
    },
    components: {
        Header,
        StartScreen,
        CategoryScreen,
        IngredientsScreen,
        CountryScreen,
        RecipeListScreen,
        Footer,
    },
}
=======
  <div id="app">
   <Header 
    @showStartScreen="goBackToStartScreen"
    @saveRecipeNameByInput="saveRecipeNameByInputFromHeader"
    @showRandomRecipe="showRandomRecipe"
    />
   <p v-if="errorInput === 400">Write something ...</p>
   <p v-if="errorInput === 404" > error 404 we don't have this recipe </p>
   <StartScreen v-if="screen === 'startScreen'"
    @changeStateScreenToCategorySearch="changeStateScreenToCategorySearch" 
    @changeStateScreenToIngredientsSearch="changeStateScreenToIngredientsSearch"
    @changeStateScreenToCountrySearch="changeStateScreenToCountrySearch" />
   <CategoryScreen v-if="screen === 'categoryScreen'"  />
   <IngredientsScreen v-if="screen === 'ingredientsScreen'" />
   <CountryScreen v-if="screen === 'countryScreen'" />
   <ResultScreen :recipeData="recipeList" />
   <SupportResult />
   <Footer /> 
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import StartScreen from "./components/StartScreen.vue";
import CategoryScreen from "./components/CategoryScreen.vue";
import IngredientsScreen from "./components/IngredientsScreen.vue";
import CountryScreen from "./components/CountryScreen.vue"; 
import ResultScreen from "./components/ResultScreen.vue";
import SupportResult from "./components/ResultScreen.vue";
import Footer from "./components/Footer.vue";


export default {
  name: "app",
  methods: {
  goBackToStartScreen() {
    this.screen = 'startScreen'
    this.url= null,
    this.country = null,
    this.category = null,
    this.ingredient = null,
    this.nameRecipeByInput = null,
    this.nameRecipeByApi= null,
    this.nameIngredient = null,
    this.articles = null,
    this.errorInput = false,
    this.recipeList = ''
  },

  async saveRecipeNameByInputFromHeader(nameRecipe){
  this.nameRecipeByInput = nameRecipe.recipeNameByInput 
  if(this.nameRecipeByInput != ""){
  this.errorInput = false,
  this.url = this.sourceStart + this.sourceSearchByName + this.nameRecipeByInput ,
  await this.searchRecipe()
  }
  else{
   this.errorInput = 400}
  },

  async searchRecipe() {
  console.log(this.url)
  this.articles = await fetch(this.url)   
  const recipeData = await this.articles.json() 
  this.recipeList = recipeData.meals
  console.log(this.recipeList)
  if (this.recipeList === null){
    this.errorInput = 404
  } 
  // this.nameRecipeFromApi =  this.recipeData.meals[0].strMeal
  // console.log(this.nameRecipeByApi)
  },

  async showRandomRecipe(){
  this.url = this.sourceStart + this.sourceSearchRandom ,
  console.log( this.url ),
  await this.searchRecipe()
  
  },


  changeStateScreenToCategorySearch() {
    this.screen = 'categoryScreen'
    //this.typeSearch = 'searchByCategory'
  },

  changeStateScreenToIngredientsSearch() {
    this.screen = 'ingredientsScreen'
    //this.typeSearch = 'searchByIngredient'
  },

  changeStateScreenToCountrySearch() {
    this.screen = 'countryScreen'
    //this.typeSearch = 'searchByCountry'
  }
 
  },
  data() {
    return{
       screen: 'startScreen',
       sourceStart:'https://www.themealdb.com/api/json/v1/1/',
       sourceSearchByName: 'search.php?s=',
       sourceSearchByCategory:'filter.php?c=',
       sourceSearchByIngredient:'filter.php?i=',
       sourceSearchByCountry:'filter.php?a=',
       sourceSearchRandom:'random.php',
       url: null,
       country : null,
       category: null,
       ingredient: null,
       nameRecipeByInput : null,
       nameRecipeByApi: null,
       nameIngredient: null,
       articles : null,
       errorInput: false,
       recipeList: '',
       
        };
  },
  components: {
    Header,
    StartScreen,
    CategoryScreen,
    IngredientsScreen,
    CountryScreen,
    ResultScreen,
    SupportResult,
    Footer
  }
};
>>>>>>> 82b4dbbc310eb56edee8fb5f409c26711eef725f
</script>

<style>
#app {
<<<<<<< HEAD
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
=======
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
>>>>>>> 82b4dbbc310eb56edee8fb5f409c26711eef725f
}
</style>
